Makefile
bindings/Makefile
bindings/java/Makefile
confdefs.h
config.log
config.status
libltdl/
libtool
src/.deps/
src/collectd.conf
src/config.h
src/libcollectdclient/libcollectdclient.pc
src/stamp-h1
.gitignore
bindings/
autom4te.cache/
src/.libs/
src/*.o
src/*la
src/*.lo
src/libcollectdclient/*.o
src/libcollectdclient/.libs/
src/libcollectdclient/*.o
src/libcollectdclient/*la
src/libcollectdclient/*.lo
src/liboconfig/*.o
src/liboconfig/.libs/
src/liboconfig/*.o
src/liboconfig/*la
src/liboconfig/*.lo

src/collectd
src/collectd-nagios
src/collectdctl
src/collectdmon
src/config.h.in~

src/*.5
src/*.1

INSTALL
Makefile.in
aclocal.m4
configure
src/Makefile.in
src/config.h.in
src/libcollectdclient/Makefile.in
src/libcollectdclient/lcc_features.h
src/liboconfig/Makefile.in
src/liboconfig/parser.c
src/liboconfig/parser.h
src/liboconfig/scanner.c

